/* body {
    background: url(https://images.unsplash.com/photo-1637715924989-4b56c9884c9f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80);
    background-size:contain;  
} */

h1 {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
}

img {
    width: 20%;
}